
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');





body {
    height: 100%;
    margin: 0;
    padding: 0;

    background-color: #e8f0f2;
    font-family: "Roboto Condensed", sans-serif;
}

header {
    display: flex;
    background-color: rgba(35, 35, 35, 85);
    height: 12%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 5%;
}


a {
    color: #ffffff;
    text-decoration: none;
}

section {
    padding: 2%;
}
#speed-test {
    background-color: #dce2ea;
}
#discover {
    background-color: #ffffff;
}
#barometers {
    background-color: #dce2ea;
}
#about {
    background-color: #ffffff;
}






.nav {
    width: 23%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

#text-nav {
    width: 50%;
    justify-content: flex-start;
    gap: 5%;
}

#menu-nav {
    width: 10%;
}



/* header's buutons */
.img-fluid {
    padding-top: 12%;
}

.text-button {
    position: relative;
    text-decoration: none;
    font-weight: 500;
}

.text-button:hover {
    text-decoration: underline;
    text-underline-offset: 12px;
    text-decoration-color: #10f12e;
    font-weight: 800;
}

#user-img {
    background-color: #d8d8d8d8;
    border-radius: 8px;
    padding: 5px;
}

#language-button {
    width: 40px;
    height: 40px;
    border-style: hidden;
    border-radius: 8px;
    background-color: #d8d8d8d8;
    font-weight: 600;
}



/* toggle button */

.toggle-button {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
}

.toggle-button input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    border-radius: 30px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    border-radius: 50%;
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 5px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #0abd54;
}

input:focus + .slider {
    box-shadow: 0 0 1px #0abd54;
}

input:checked + .slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
}




.description-text {
    color: #616161e1;
}






/* Posts Discover */
#discover {
    text-align: center;
}

.posts {
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    border-radius: 30px;
    box-shadow: 10px 10px 5px grey;
    width: 40%;
    padding: 5px;
    overflow: hidden;
    margin-left: 30%;
    margin-bottom: 10%;
    background-color: #dce2ea9c;
}

.card-img {
    border-radius: 10px;
    max-height: 300px;
    transition: transform .3s;
    z-index: 0;
    transform: scale(1.1);
}

.card-img:hover {
    transform: scale(1.3);
}

.card {
    z-index: 300;
    
}

.card-img::after {
    content: "hello";

}







/* Info-cards */
.explain-card {
    background-color: #dce2ea;
    border-radius: 8px;
    text-align: center;
    padding: 1%;
    margin: 1%;
    min-height: 250px;
}
.explain-card.encapsuled {
    width: 20%;
}
.description-text.info {
    text-align: justify;
}

#explain-cards-tests {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



/* .flow-logo{
    padding: 30px;
    background-color: #ff0000;
} */

/* h3.explain-title::before {
    content: "";
    background-color: #10f12e;
    padding: 5px;
} */

h3 {
    margin-top: 50px;
}




/* footer */

footer {
    background-color: black;
    color: white;

    margin-bottom: -2%;
    padding: .5%;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

#platforms {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
}

.platform-logo {
    width: 40px;
    transition: transform .3s;
}

.platform-logo:hover {
    transform: scale(1.2);
}

#medias {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 15px;
}

.media-logo {
    width: 50px;
    background-color: white;
    border-radius: 50%;
    transition: transform .3s;
}

.media-logo:hover {
    transform: scale(1.1);
}